<p class="m-0">
  <mat-toolbar class="toolbar">
    <h1>AngularFlix</h1>
    <span class="example-spacer"></span>

      <mat-form-field class="w-25" appearance="fill">
        <input class="search" matInput placeholder="search..." value="" [(ngModel)]="query">
        <mat-icon matSuffix class="icon" (click)="searchMovies()" >search</mat-icon>
      </mat-form-field>

  </mat-toolbar>
</p>

<p class="no-movies-text">No Results, Please Search For Movies....</p>

<movie-card *ngFor="let m of movies"></movie-card>
