.example-spacer {
  flex: 1 1 auto;
}

.toolbar{
  background-color: black;
  color: white;
}

.no-movies-text{
  text-align: center;
}



.search{
  font-size: 25px;
}


.m-0{
  margin: 0;
}
.w-25 {
  width: 25%;
}

.movie-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
