.movie-card {
  max-width: 400px;
  max-height: 400px;
  margin: 2em;
}

.movie-header-image {
  background-image: url('https://amc-theatres-res.cloudinary.com/image/upload/f_auto,fl_lossy,h_465,q_auto,w_310/v1638549265/amc-cdn/production/2/movies/66500/66520/PosterDynamic/132670.jpg');
  background-size: cover;
}
