<mat-card class="movie-card" *ngIf="movie">
  <mat-card-header>
    <mat-card-title class="title">{{movie.title}}</mat-card-title>
    <mat-card-subtitle>Rating: {{movie.score}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="main-img" [src]="movie.imgUrl" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p *ngIf="showOverview; else description;">
     {{briefOverview}}
     <b (click)="toggleExpand()" *ngIf="movie.description.length > 80">Expand</b>
    </p>
    <ng-template #description>
      <p>
        {{movie.description}}
        <b (click)="toggleExpand()">Collapse</b>
      </p>
    </ng-template>
  </mat-card-content>
  <mat-card-actions class="footer-actions">
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
