.movie-card {
  width: 300px;
  margin: 2em;
  min-height: 540px;
}

.main-img{
  height: 350px;
}

.footer-actions{
  display: flex;
  width: 100%;
  justify-content: end;
}

.add-movie-icon{
  font-size: 40px;
}

