<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav-content" mode="over" #drawer>Sidenav content</mat-sidenav>
  <mat-sidenav-content>
    <p>
      <mat-toolbar class="toolbar">
        <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <h1>AngularFlix</h1>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    </p>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>


